/*reset css*/
* {
  text-decoration: none;
  color: inherit;
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

/*bootstrap reset*/
.containerReset{
  display: inherit;
}


/*classe générale*/

  /*background*/
.ColorBGBlue{
  background-color: rgb(20, 57, 141);
}

  /*fonts and text-color*/
.textWhite{
  color: white;
  font-family: 'Oswald', sans-serif;
}

.TextBlue{
  color: rgb(20, 57, 141);
  font-family: 'Dancing Script', cursive;
}

.textBlack{
  color: rgb(20, 57, 141);
  font-family: 'Oswald', sans-serif;
}

  /*font-size et font-weight */
.bigTitle{
  font-size: 6vw;
  font-weight: 200;
}
.midleTitle{
  font-size: 4.5vw;
  font-weight: 200;
}
.smallTitle{
  font-size : 3vw;
  font-weight: 400;
}


/*layout*/

body{
  display : grid;
  grid-template-columns: 100%;
  grid-template-rows: 1fr 4fr 1fr;
}

  /*header*/
header {
  height: 40vw;
  display: grid;
  grid-template-columns: 4fr 1fr;
  grid-template-rows: 2fr 1fr;
  align-items: center;
  padding: 5px;
}

header nav ul{
  display: flex ;
  justify-content: space-evenly;
  align-items: center;
  margin : 0px;
  padding: 0;
}

/*2pages nav*/
.navhand{
  display: grid;
  grid-template-rows: 100%;
  grid-template-columns: 1fr 2fr;
  justify-items: center;
}

.hand{
  width: 18vw;
  z-index: 0;
}

.home{
  z-index: 1;
  grid-row: 1 / 2;
  grid-column: 1 / 2;
}

.events{
  z-index: 1;
  grid-row: 1 / 2;
  grid-column: 2 / 3;  
}

.handstatic{
  grid-row: 1 / 2;
  grid-column: 1 / 2;
}
.handhover{
  grid-row: 1 / 2;
  grid-column: 2 / 3;
}

.logo {
  border-radius: 50%;
  width: 28vw;
  max-width: 200px;
  margin-right: 10px;
  margin-top: 5px;

}




footer {
  
  height: 10vw;
}


