/*layout header*/

  /*nav in this page*/
.navInPage {
  grid-column : span 2;
}

/*layout main*/

main{
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 10% repeat(4,fr);
}

.titleHome{
  justify-self: center;
  margin-top: 10px;
}
  /*section one : News*/
.News{
  grid-row: 1 / 5;
  grid-column: 1 / 3;
  z-index: 1;
  justify-self: center;
  align-self: center;
}

.chess{
  grid-row: 1 / 5;
  grid-column: 3 / 5;
  z-index: 1;
  justify-self: center;
  align-self: start;
  margin-top: 6vw;
}

.buttonChess{
  grid-row: 3 / 5;
  grid-column: 3 / 5;
  z-index: 1;
  justify-self: end;
  margin-right: 5vw;
}

  /*section two : Presentation*/
.presentation{
  grid-row: 1 / 2;
  grid-column: 1 / 3;
  z-index: 1;
  justify-self: center;
  align-self: end;
}

.games{
  width: 100px;
  grid-row: 2 / 3;
  grid-column: 1 / 3;
  z-index: 1;
  justify-self: center;
  align-self: end;
}

.cinema{
  height: 80px;
  grid-row: 3 / 5;
  grid-column: 1 / 3;
  z-index: 1;
  justify-self: center;
  align-self: center;
  margin-bottom: 10px;
}

.presentationText{
  grid-row: 1 / 5;
  grid-column: 3 / 5;
  z-index: 1;
  justify-self: center;
  align-self: center;
  margin: 0 12px 0 22px;
  
}

  /*section three : President's message*/
.president{
  grid-row: 1 / 2;
  grid-column: 1 / 3;
  z-index: 1;
  justify-self: center;
  align-self: end;
  margin-top: 20px;
}

.wanted{
  height: 125px;
  grid-row: 2 / 5;
  grid-column: 1 / 3;
  z-index: 1;
  justify-self: center;
  align-self: start;
  margin-bottom: 10px;
}

.presidentText{
  grid-row: 1 / 4;
  grid-column: 3 / 5;
  z-index: 1;
  justify-self: center;
  align-self: center;
  margin: 10px 15px 0 25px;
}

.joinUs{
  grid-row: 4/ 5;
  grid-column: 3 / 5;
  z-index: 1;
  justify-self: center;
  align-self: center;
}

/*section four : general assembly*/
.generalAssembly{
  grid-row: 1 / 5;
  grid-column: 1 / 3;
  z-index: 1;
  justify-self: center;
  align-self: center;
  margin-left: 30px;
}

.pdfObject{
  display: none;
  grid-row: 1 / 4;
  grid-column: 3 / 5;
  z-index: 1;
  justify-self: center;
  align-self: center;
  margin-top: 20px;
}

.buttuonGA{
  grid-row: 1/ 5;
  grid-column: 3 / 5;
  z-index: 1;
  justify-self: center;
  align-self: center;
  margin-top: 20px;
}

