/*reset css*/
* {
  text-decoration: none;
  color: inherit;
  padding: 0;
  margin: 0;
  list-style: none;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

.titlereset{
  font-size: inherit;
  font-weight: inherit;
  margin: 0;
  padding: 0;
  line-height: inherit;
}

/*bootstrap reset*/
.containerReset{
  display: inherit;
}


/*general class*/

  /*background*/
.ColorBGBlue{
  background-color: rgb(20, 57, 141);
}

  /*fonts and text-color*/
.textWhite{
  color: white;
  font-family: 'Oswald', sans-serif;
}

.textBlue{
  color: rgb(20, 57, 141);
  font-family: 'Dancing Script', cursive;
}

.textBlack{
  color: rgb(0, 0, 0);
  font-family: 'Oswald', sans-serif;
}

  /*font-size et font-weight */
.bigTitle{
  font-size: 6vw;
  font-weight: 200;
}
.midleTitle{
  font-size: 4.5vw;
  font-weight: 200;
}
.smallTitle{
  font-size : 3.3vw;
  font-weight: 400;
}
.sectionTitle{
  font-size: 9vw;
  font-weight: 700;
  line-height: 9vw;
}
.smallText{
  line-height: 3.2vw;
  font-size: 4vw;
}
  /*button*/

.buttonStyle{
  color: white;
  font-family: 'Dancing Script', cursive;
  border-radius: 15px;
  padding: 5px;
  border: none;
  box-shadow: 1px 1px 1px 1px rgb(179, 178, 178);
  word-break: unset;
  width: 80px;
  font-size: 12px;
}



/*layout*/


  /*header*/
header {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

header div{
  display: flex;
  justify-content: space-between;
  margin : 0px;
  padding: 0;
}


.logo {
  border-radius: 50%;
  width: 28vw;
  max-width: 200vw;
  margin:2vw 2vw 0 0;
  
}

    /*home events nav*/
.navhand{
  display: grid;
  grid-template-rows: 100%;
  grid-template-columns: 1fr 1fr;
  padding: 0 5vw 0 0;
  margin: 0;
  align-items: center;
  text-align: center;
}

.hand{
  width: 18vw;
  z-index: 0;
}

.home{
  z-index: 1;
  grid-row: 1 / 2;
  grid-column: 1 / 2;
}

.events{
  z-index: 1;
  grid-row: 1 / 2;
  grid-column: 2 / 3;  
}

.handstatic{
  grid-row: 1 / 2;
  grid-column: 1 / 2;
}
.handhover{
  grid-row: 1 / 2;
  grid-column: 2 / 3;
}
/*end header*/

/*main*/

main{
  display: flex;
  flex-direction: column;
 }
.titleMain{
  margin-top: 10px;
}
.section{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  justify-items: center;
  align-items: center;
}
.bigSection{
 height: 73vw;
}

.noteBook{
  width: 100%;
  padding: 10px;
  grid-row: 1 / 5;
  grid-column: 1 / 5;
  z-index: 0;
}

  /*arrow fixed*/
.arrow{
  position: fixed;
  z-index: 2;
  top: 31vw;
  right: 1vw;
  color: blue;
}

/*footer*/

footer {
  width: 100%;
  display: grid;
  grid-template-rows: 100%;
  grid-template-columns: 50% 50%;
  height: 50vw;
  justify-content: center;
}

.bootstrapreset{
  margin: 0;
  padding: 0;
}

.contact{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  gap : 5px;
}

.contactBorder{
  border-right: 2px solid white;
}

.office{
  text-align: center;
  /*layout table with bootstrap*/
}

